.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* @keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 480px) {
  .product-item {
    flex: 0 0 calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */
